* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.centratura {
    width: 1200px;
    margin: auto;
}
.fix:after {
    content: "";
    display: table;
    clear: both;
}

.smallbox {
    width: 100%;
    height: 80px;
    margin: auto;
}

.mainblock {
    background-color: #f5f8fa;
    position: fixed;
    z-index: 10;
}


section {
    padding: 80px 0;
}

.lightblue {
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    color: white;
}

.pink {
background-repeat: no-repeat;
background-image: url("img/background/pink.png");
right: 36px;
bottom: 0;
background-size: cover;
background-position-x: right;
background-position-y: bottom;
background-color: rgba(255,243,238,0.5);

}

.orange {
    background-color: #f5f8fa;
}


/* header */
.login {
    width: 100%;
    display: inline-block;
}

.leftlogin>ul>li {
    display: inline-block;
}

.sidelogin {
    width: 50%;
    float: left;
    height: 80px;
    line-height: 80px;

}

.rightlogin {
    text-align:right;
}

/* inizio prova menu red blue */


.mainshow:hover .mainhide {
    display: block;
}


.mainhide {

    background-color: #f5f8fa;
    display: none;
    z-index: 9;
    line-height: normal;
    list-style-type: none;
    margin: 10px;
    position: absolute;
    top: 40px;
    border: 1px solid grey;

}

.langhide {
    padding: 10px 20px;
    background-color: white;
    font-size: 15px;
}

.english {
    border-right: 1px solid black;
    padding-right: 33px;
}

.divisorio {
    margin-left: 33px;
}


/* fine prova menu */

.mainbar,.mainblock {
    line-height: 80px;
    height: 80px;

}

a {
    text-decoration: none;

}

.login a {
    color: white;
    padding: 0 20px;
    display: inline-block;
    background-color: #ff7a59;
    border-radius: 3px;
    border: 1px solid orange;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 10px;
}

a.access {
    color: orange;
    background-color: white;
}

.login a:hover {
    background-color:#ffbcac;
}

nav {
    background-color: #ffffff;
}

 .mainbar>ul>li {
    display: inline-block;
    padding: 0 5px;
}

div.mainbar {
    position: relative;
}

.mainbar img {
    height: 40%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}
.mainbar>ul {
    float: right;
}

.slogan {
    position: relative;
    background-color: #425b76;
    z-index: 1;
}

.slogan p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
}
.underline {
    text-decoration: underline;
    font-weight: bold;
}

.capslock {
    text-transform: uppercase;
}
.sidebox {
    width:350px;
    padding-bottom: 50px;
}

.sidebox h1 {
    font-size: 3em;
    font-weight: 800;
    margin: 50px 0 20px 0;
    text-align: justify;
}

.sidebox p {
    font-size: 1.1em;
    text-align: justify;
}

.sidebox a {
    font-size: 1.1em;
    background-color: orange;
    padding: 10px;
    margin: 20px 0;
    display: inline-block;
    width: 50%;
    text-align: center;
    color: white;

}

.fathbox>.sidebox p:last-of-type {
    width: 50%;
}


/* inizio schede */

.cardcontainer {
    width: 100%;
    padding:80px 0;


}

.cardsans {
    width: 380px;
    height: 500px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}

.cardbox:hover {
    transform: scale(1.014);
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}


.cardbox {
    border-radius: 5px;
    position: relative;
    display: inline-block;
    float: left;
    width: 380px;
    height: 500px;
    background-color: white;
    padding: 25px;
    margin: 0 20px 20px 0;
}

.cardsans h2 {
    font-size: 2.8em;
    margin-bottom: 30px;
}

.cardsans p {
    font-size: 1.2em;
}
.uppercard {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 20px;
    position: relative;
}
.downcard {
    padding: 20px 0;
}
.uppercard h4 {
    font-size: 1.4em;
    display: inline-block;
    margin-bottom: 25px;
    line-height: 30px;
    height: 30px;
    vertical-align: super;

}


.uppercard p {
    padding: 20px 0;
}
.uppercard img {
    padding: 0;
    height: 30px;
    line-height: 30px;
}

.hcontain {
    display: inline-block;
    height: 30px;
    padding-bottom: 30px;




}






.downcard img {
    padding-right: 10px;
    height: 20px;
    line-height: 30px;
    vertical-align: sub;
}


.cardbox li {
    list-style-type: none;
    line-height: 2;
}



.downcard span {
    display: inline-block;
    margin-bottom: 10px;
}
.downcard a {
    background-color: #ff7a59;
    padding: 10px;
    margin: 20px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    color: white;
}


.newcontent {
    width: 55px;
    height: 25px;
    background-color: #00b59d;
    position: absolute;
    top: 10px;
    right: -10px;
    border-radius: 12px 0 0 12px;
    text-align: center;
    padding: 3px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.textual {
    width: 60%;
    text-align: center;
    padding: 50px 0;
    margin: auto;
}
.textual>p {
    font-size: 1.15em;
    margin: 20px 0;
}

.textual h2 {
    font-size: 35px;
}

.brd {
    width: 298px;
    float: left;
    text-align: center;
    padding: 15px;

}
.grid {
    border-bottom: 2px solid white;
    border-right: 2px solid white;


}
.gridone {
    border-bottom: 2px solid white;
}

.gridtwo {
    border-right: 2px solid white;
}

.num {
    font-size:60px;
}

.brd>p {
    font-weight: bold;
    padding: 10px;
}

.maingrid img {
    height: 60px;
    display:block;
    margin: auto;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.plus.num::after {
    content: "+";
    font-size: 30px;
    display: table-caption
}

.rightbox,.leftbox {
    height: 250px;
    line-height: 250px;
}

.rightbox>img {
    float: left;
    margin-left: 5px;
    width: 170px;
}

.lefloat {
    float: left;
}

.rightbox {
    width: 700px;
    padding: 35px 0;
}

.leftbox {
    width: 500px;
    padding: 50px 80px 50px 0;
    line-height: 2;
    font-size: 1.5em;
}


.leftbox h2 {
    font-weight: 900;
    font-family: sans-serif;

}

.bottombox {
    margin-top: 100px;
}

.bottombox>.sidebox>h2 {
    margin-bottom: 30px;
    font-size: 2.5em;

}

.bottombox>.sidebox {
    float: left;
    padding-top: 50px;
}

.snoop {
    padding: 10px;
    float: right;
    width: 400px;
    height: 450px;
    background-size: contain;
    background-image: url("https://www.freepngimg.com/download/snoop_dogg/21493-1-snoop-dogg-transparent.png");
}


.backfoot {
    background-color: #33475b;
    color: white;
}



.upfpadd {
    padding: 0 100px;
}


.upfoot{
    padding-top: 100px;
}

 .upfoot>ul {
     text-align: center;
 }

.upfoot>ul>li {
    font-weight: bold;
    line-height: 3;
    display: inline-grid;
    padding: 0 15px 10px;
    font-size: 1.1em;
    text-align: left;
}

.upfoot>ul>li>ul>li {
    font-weight: normal;
    list-style-type: none;
    line-height: 2;
    text-align: left;
}

.midfoot{
    border-bottom: 2px solid lightblue;
;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.midfoot>ul {
    text-align: center;

}
.midfoot>ul>li {
    display: inline-block;
    padding: 0 15px 10px;
    font-size: 1.5em;
    text-align: left;
}

.downfoot {
    padding: 20px 0;
}

.rightdownfoot {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.footbutton {
    margin: 15px 0;
}

.alignrdf {
    float: right;
    height: 95px;
}

.rightdownfoot a {
    color: white;
    padding-left: 30px;
}
.footbutton>a {
    background-color: white;
    color: blue;
    padding: 6px 12px;
    border-radius: 3px;
}

.footbutton>a:hover {
    background-color:lightgrey;
}

#socialicon i {
    font-size: 30px;
    margin: 5px 10px 50px 0;
}

footer ul li ul li:hover {
    color: lightblue;
}

#socialicon:hover  {
    color: white;
}

.sticker>img {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    border-radius: 50%;


}

.sticker {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #33475b;
    border-radius: 50%;
}

.sticker img:hover {
    box-shadow: 10px 10px 100px 10px rgba(51,71,91,0.8);

}
